.button {
  @include reset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-weight: 500;
  font-family: $first-font;
  border-radius: 100px 0 100px 100px;
  cursor: pointer;
  transition: all 0.3s;

  &--thin {
    min-height: 50px;
    color: #304bab;
    border: 1px solid #304bab;

    &:hover {
      color: #ffffff;
      background: #304bab;
    }
  }

  &--light {
    color: #ffffff;
    border: 1px solid #ffffff;

    &:hover {
      color: #304bab;
      background-color: #ffffff;
    }
  }

  &--background {
    font-weight: 500;
    font-size: 12px;
    font-family: $fourth-font, sans-serif;
    color: #ffffff;
    background-color: #304bab;
    background-image: url("../../img/button__background-blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;

    &:hover {
      background-image: unset;
      transition: all 0.3s;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--white {
    color: #1a2789;
    background-color: #ffffff;
    background-image: unset;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
      background-color: #304bab;
      background-image: url("../../img/button__background-blue.png");
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.3s;
    }
  }

  &--back {
    background-color: #f3f5fc;
    border-radius: 100px;

    &:hover {
      background-color: #304bab;
    }

    &:hover .button__icon {
      fill: #f3f5fc;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--forth {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    font-family: $fourth-font, sans-serif;
    color: #ffffff;
    background-color: #304bab;

    &:active {
      opacity: 0.7;
    }
  }
}

.button__icon {
  width: 15px;
  min-width: 15px;
  height: 9px;
  fill: #304bab;

  &--forth {
    margin-left: 5px;
    fill: #ffffff;
  }
}

@media (min-width: 1120px) {
  .button__icon {
    width: 18px;
    min-width: 18px;
  }
}


@media (min-width: 1280px) {
  .button {
    &--background {
      font-size: 14px;
    }
  }
}
