.situation {
  padding-top: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.situation__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: none;
}

.situation__box {
  &--choose {
    margin-bottom: 40px;
    padding: 0 26px;
  }

  &--partner {
    padding: 25px 26px;
    background-color: rgba(243, 246, 255, 0.79);
    border-radius: 20px;
  }
}

.situation__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  overflow: hidden;
  background-color: #304bab;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--professional::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../img/situation__professional.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
  }

  &--particuller::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../img/situation__particuller.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
  }
}

.situation__link {
  position: relative;
  z-index: 100;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.situation__name-partner {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: $first-font;
  text-align: center;
}

.situation__item {
  margin-left: 17px;
}

.situation__img {
  width: 66px;
  height: 40px;
}

@media (min-width: 768px) {
  .situation__box {
    &--choose {
      display: flex;
      padding: 0 60px;
    }

    &--partner {
      display: flex;
      align-items: center;
      padding: 25px 60px;
    }
  }

  .situation__inner {
    width: 45%;
    min-height: 284px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: auto;
    }
  }

  .situation__title {
    font-size: 30px;
  }

  .situation__list-partner {
    margin-left: auto;
  }

  .situation__name-partner {
    min-width: 120px;
    margin-bottom: 0;
    text-align: left;
  }

  .situation__item {
    margin-left: 17px;

    &:nth-child(4n) {
      margin-left: 17px;
    }
  }
}

@media (min-width: 1120px) {
  .situation__box {
    &--choose {
      margin-bottom: 50px;
    }
  }

  .situation__title {
    margin-bottom: 65px;
  }

  .situation__link {
    font-size: 30px;
    line-height: 37px;
  }

  .situation__name-partner {
    font-size: 20px;
    line-height: 24px;
  }

  .situation__item {
    margin-left: 40px;

    &:nth-child(4n) {
      margin-left: 40px;
    }
  }

  .situation__img {
    width: 107px;
    height: 64px;
  }
}

@media (min-width: 1280px) {
  .situation__box {
    &--choose {
      @include page-wrapper;
    }

    &--partner {
      @include page-wrapper;
    }
  }
}
