.promo {
  min-height: 100vh;
  padding: 0 20px 32.5px 20px;

  .title {
    & > span {
      display: block;
    }
  }

  &--video {
    .title {
      color: #ffffff;
    }

    .promo__desc {
      color: #ffffff;
    }
  }
}

.promo__img {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.promo__title {
  margin-bottom: 19px;
  font-size: 25px;
  line-height: 134.93%;
  color: #191c1f;
}

.promo__txt {
  font-size: 14px;
  line-height: 155.15%;
  color: #191c1f;
}

.promo__form {
  z-index: 10;
  display: block;
  margin-top: 20px;
  padding: 0;

  .modal-registration {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .modal-registration__title {
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .modal-registration__wrap {
    padding: 20px;
  }
}


.promo__list {
  @include list-reset;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 155.15%;
}

.promo__desc {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 155.15%;
  color: #000000;
  //opacity: 0.6;
}

.promo__button {
  width: 202px;
  height: 60px;
}

@media (min-width: 700px) {
  .promo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;

    &--video {
      flex-direction: row;
    }
  }

  .promo__form {
    .modal-registration__wrap {
      padding: 40px 60px;
    }
  }

  .promo__img {
    width: 100%;
    margin-left: 40px;
  }
}

@media (min-width: 1280px) {
  .promo {
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 0;
    padding-left: calc(50% - 640px);

    &--video {
      justify-content: space-between;
      padding-top: 156px;
      padding-right: calc(50% - 640px);
      padding-bottom: 50px;
    }

    .promo__form {
      margin-left: auto;

      .modal-registration {
        margin-right: 79px;
        margin-left: auto;
      }
    }
  }

  .promo__img {
    display: block;
    margin-left: auto;
  }

  .promo__title {
    margin-bottom: 11px;
    font-size: 55px;
    line-height: 134.93%;
  }

  .promo__desc {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 32px;
  }

  .promo__txt {
    margin-top: 120px;
    font-size: 20px;
    line-height: 32px;
  }

  .promo__button {
    width: 250px;
    height: 70px;
    margin-top: 20px;
  }

  .promo__body {
    width: 450px;
    min-width: 450px;
    margin-right: auto;

    &--inner {
      width: 470px;
      min-width: 470px;
      margin-right: 120px;

      .title {
        margin-bottom: 36px;
      }
    }
  }

  .promo__list {
    font-size: 20px;
  }
}
