.insurance-advantage {
  padding: 20px 40px;
  padding-bottom: 50px;
  background-color: #f3f6ff;
}

.insurance-advantage__title {
  margin-bottom: 40px;
  text-align: center;
}

.insurance-advantage__list {
  @include list-reset;
}

.insurance-advantage__item {
  margin-bottom: 20px;
}

.insurance-advantage__box {
  position: relative;
  width: 183px;
  height: 183px;
  margin: 0 auto;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #1f4df1;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 15px;
    height: 15px;
    background-color: #1f4df1;
    border-radius: 50%;
  }
}

.insurance-advantage__img {
  position: relative;
  z-index: 2;
  width: 183px;
  height: 183px;
  border-radius: 50%;
  object-fit: cover;
}

.insurance-advantage__number {
  position: absolute;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  font-weight: 300;
  font-size: 50px;
  line-height: 78.93%;
  font-family: $third-font, sans-serif;
  color: #1f4df1;
  text-transform: uppercase;
}

.insurance-advantage__name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 142.43%;
  font-family: $third-font, sans-serif;
  text-align: center;
  color: #191c1f;
  text-transform: uppercase;
}

.insurance-advantage__text {
  font-size: 12px;
  line-height: 167.43%;
  text-align: center;
}

@media (min-width: 768px) {
  .insurance-advantage {
    padding: 30px 40px;
    padding-bottom: 50px;
  }

  .insurance-advantage__list {
    position: relative;
    display: flex;
    padding-bottom: 60px;
  }

  .insurance-advantage__item {
    flex-basis: 30%;
    margin: 0;

    &:not(:first-child) {
      margin-left: auto;
    }
  }
}

@media (min-width: 1280px) {
  .insurance-advantage {
    @include page-wrapper;
    padding-top: 90px;
    padding-bottom: 90px;

    &--active {
      .insurance-advantage__list {
        &::after {
          animation: fillingWidthInner 5s both;
        }
      }

      .insurance-advantage__item {
        &--1 {
          .insurance-advantage__img {
            animation: noColor 1s both;
          }

          .insurance-advantage__text,
          .insurance-advantage__name {
            animation: fadeIn 1s both 250ms;
          }

          .insurance-advantage__circle {
            &::before {
              animation: filling 0.5s both;
            }
          }
        }

        &--2 {
          .insurance-advantage__img {
            animation: noColor 1s both 1000ms;
          }

          .insurance-advantage__text,
          .insurance-advantage__name {
            animation: fadeIn 1s both 1000ms;
          }

          .insurance-advantage__circle {
            &::before {
              animation: filling 0.5s both 1500ms;
            }
          }
        }

        &--3 {
          .insurance-advantage__img {
            animation: noColor 1s both 3000ms;
          }

          .insurance-advantage__text,
          .insurance-advantage__name {
            animation: fadeIn 1s both 3000ms;
          }

          .insurance-advantage__circle {
            &::before {
              animation: filling 0.5s both 3400ms;
            }
          }
        }
      }
    }
  }

  .insurance-advantage__title {
    max-width: 625px;
    margin: 0 auto;
    margin-bottom: 90px;
  }

  .insurance-advantage__list {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 880px;
      height: 2px;
      background: #e6e9f5;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 200px;

      z-index: 10;
      width: 0;
      height: 2px;
      background: #1f4df1;
    }
  }

  .insurance-advantage__item {
    max-width: 365px;

    .insurance-advantage__circle {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 100;
      overflow: hidden;
      border-radius: 50%;
      transform: translateY(50%);

      &::before {
        @include pseudo;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1f4df1;
        transform: translateX(-100%);
      }
    }

    &--1 {
      .insurance-advantage__circle {
        left: 180px;
        width: 23px;
        height: 23px;
        background-color: #ffffff;
        border: 1px solid #1f4df1;
      }
    }

    &--2 {
      .insurance-advantage__circle {
        left: 50%;
        width: 33px;
        height: 33px;
        background-color: #ffffff;
        border: 1px solid #1f4df1;
        transform: translate(-50%, 50%);
      }
    }

    &--3 {
      max-width: 345px;

      .insurance-advantage__circle {
        left: 83%;
        width: 43px;
        height: 43px;
        background-color: #ffffff;
        border: 1px solid #1f4df1;
        transform: translate(-50%, 50%);
      }
    }
  }

  .insurance-advantage__box {
    width: 260px;
    height: 260px;
    margin-bottom: 60px;

    &::before {
      content: "";
      bottom: 20px;
      left: 10px;
      width: 42px;
      height: 42px;
    }


    &::after {
      content: "";
      top: 25px;
      right: 30px;
      width: 22px;
      height: 22px;
    }
  }

  .insurance-advantage__img {
    width: 260px;
    height: 260px;
    filter: grayscale(100%);
  }

  .insurance-advantage__number {
    font-size: 70px;
    line-height: 78.93%;
  }

  .insurance-advantage__name {
    margin-bottom: 45px;
    font-size: 25px;
    opacity: 0.5;
  }

  .insurance-advantage__text {
    font-size: 16px;
    line-height: 167.43%;
    opacity: 0.5;
  }
}
