.tariff-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-top: 70px;
  padding-bottom: 25px;
  background-color: #f8f8f8;
  border-radius: 40px 0 40px 40px;

  &--prime {
    background-color: #1f4df1;
  }

  &--calc {
    padding-top: 30px;
  }
}

.tariff-card__main-icon {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
}

.tariff-card__main-img {
  fill: #1f4df1;

  &--send {
    width: 43px;
    height: 43px;
  }

  &--plane {
    width: 49px;
    height: 30px;
  }

  &--people {
    width: 46px;
    height: 40px;
  }
}

.tariff-card__name {
  margin-bottom: 10px;
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 182.43%;
  font-family: $third-font, sans-serif;
  text-align: center;
  // text-transform: uppercase;
  letter-spacing: 0.02em;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

  &--prime {
    color: #ffffff;
  }

  &--calc {
    margin-bottom: 15px;
    padding: 0;
    font-size: 18px;
    line-height: 182.43%;
    text-align: left;
    border: none;
  }
}

.tariff-card__price {
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 33px;
  line-height: 182.43%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

  &--prime {
    color: #ffffff;
  }

  &--calc {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    font-family: $fourth-font, sans-serif;
    color: #000000;
    border: none;
  }

  &--calc-prime {
    color: #ffffff;
  }
}

.tariff-card__list {
  @include list-reset;
  margin-bottom: 25px;
}

.tariff-card__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.tariff-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;

  &--available {
    background-color: #1f4df1;
  }

  &--unavailable {
    background-color: #dddddd;
  }

  &--prime-available {
    background-color: #ffffff;
  }

  &--prime-unavailable {
    background-color: #485bc2;
  }
}

.tariff-card__img {
  &--tick {
    width: 7px;
    height: 5px;
    fill: #ffffff;
  }

  &--cross {
    width: 5px;
    height: 5px;
    fill: #9d9d9d;
  }

  &--prime-tick {
    fill: #1f4df1;
  }

  &--prime-cross {
    fill: #8894d7;
  }
}

.tariff-card__desc {
  margin-left: 10px;
  font-size: 12px;
  line-height: 182.43%;

  &--unavailable {
    opacity: 0.4;
  }

  &--prime {
    color: #ffffff;
  }

  &--calc {
    margin-left: auto;
  }
}

.tariff-card__button {
  margin-top: auto;
  padding: 18px 20px;
}

.tariff-card__text-prime {
  display: none;
}

@media (min-width: 768px) {
  .tariff-card {
    margin-bottom: 0;
    padding: 0 10px;
    padding-top: 70px;
    padding-bottom: 25px;

    &--calc {
      padding: 30px;
    }
  }

  .tariff-card__name {
    line-height: 100%;

    &--business {
      padding-bottom: 10px;
    }
  }

  .tariff-card__desc--calc {
    margin-left: 15px;
  }
}

@media (min-width: 1120px) {
  .tariff-card {
    &--calc {
      padding: 30px 45px;
    }
  }

  .tariff-card__desc {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .tariff-card {
    padding: 0 35px;
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .tariff-card__main-icon {
    width: 110px;
    height: 110px;
  }

  .tariff-card__main-img {
    fill: #1f4df1;

    &--send {
      width: 55px;
      height: 55px;
    }

    &--plane {
      width: 55px;
      height: 34px;
    }

    &--people {
      width: 58px;
      height: 58px;
    }
  }

  .tariff-card__name {
    padding-bottom: 40px;
    font-size: 25px;
    line-height: 130%;

    &--business {
      padding-bottom: 10px;
    }
  }

  .tariff-card__price {
    margin-bottom: 30px;
    font-size: 26px;

    &--calc {
      margin: 0;
      font-size: 25px;
      line-height: 31px;
    }
  }

  .tariff-card__list {
    margin-bottom: 35px;
  }

  .tariff-card__icon {
    min-width: 21px;
    height: 21px;
  }

  .tariff-card__img {
    &--tick {
      width: 9px;
      height: 9px;
    }

    &--cross {
      width: 7px;
      height: 7px;
    }
  }

  .tariff-card__button {
    font-size: 14px;
    line-height: 18px;
  }

  .tariff-card__text-prime {
    position: absolute;
    bottom: -35px;
    left: 50%;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #233596;
    text-transform: uppercase;
    transform: translateX(-50%);
  }
}
