.modal-registration {
  position: relative;
  max-width: 418px;
  height: 495px;
  border-radius: 20px;
  background: white;
  margin: 0 auto;
}

.modal-registration__main-box {
  display: none;
  z-index: 11;
  width: 100%;

  &--active {
    display: block;
    position: fixed;
    top: 20px;
  }
}

.modal-registration__wrap {
  padding: 40px 60px;
}

.modal-registration__title {
  margin-bottom: 40px;
  text-align: center;
}

.modal-registration__button {

  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
