.modal-registration {
  position: relative;
  max-width: 418px;
  height: 495px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;

  &--thanks {
    height: auto;
  }

  &--covid {
    max-width: 511px;
    height: auto;
    background: #1f4df1;

    .modal-registration__wrap {
      padding: 45px 35px 25px 35px;
    }

    .modal-registration__link {
      display: block;

      margin: 0 auto;
      margin-top: 19px;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #ffffff;
      text-decoration: underline;
    }

    .modal-registration__title {
      margin-bottom: 35px;
      font-weight: 800;
      font-size: 22px;
      line-height: 27px;
      font-family: $third-font;
      text-align: center;
      color: #ffffff;
    }

    .tariff-card__desc {
      margin-left: 0;
      font-size: 14px;
      line-height: 145.4%;
      color: #ffffff;
    }

    .tariff-card__list {
      margin-bottom: 40px;
    }

    .modal-registration__logo {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .modal-registration__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      margin-right: -35px;
      margin-bottom: -25px;
      margin-left: -35px;
      padding: 20px 35px 15px 35px;
      font-size: 14px;
      line-height: 17px;

      color: #ffffff;
      border-top: 1px solid rgba(#ffffff, 0.1);
      opacity: 0.5;

      p {
        max-width: 224px;
      }

      a {
        text-decoration: underline;
      }
    }

    .modal-registration__btn {
      /* identical to box height */
      max-width: 330px;
      height: 70px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      color: #1f4df1;

      &:hover {
        color: #ffffff;
      }
    }

    .tariff-card__icon--available {
      width: 32px;
      min-width: 32px;
      height: 32px;
      margin-right: 17px;
      background-color: rgba(#ffffff, 0.1);

      svg {
        width: 15px;
        height: 11px;
      }
    }
  }
}

.modal-registration__main-box {
  z-index: 1100;
  display: none;
  width: 100%;
  padding: 0 15px;

  &--active {
    position: absolute;
    top: 20px;
    display: block;
  }

  &--active {
    &.modal--covid {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.modal-registration__wrap {
  padding: 40px 60px;
}

.modal-registration__title {
  margin-bottom: 40px;
  text-align: center;
}

.modal-registration__button {

  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
