.guide {
  padding: 0 20px;
}

.guide__title {
  margin-bottom: 45px;
  font-weight: 800;
  font-size: 20px;
  line-height: 142.43%;
  font-family: $third-font, sans-serif;
  color: #191c1f;
  text-transform: uppercase;
}

.guide__list {
  @include list-reset;
}

.guide__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 2px;
    height: 100%;
    background-color: #1f4df1;
  }
}

.guide__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 158.68%;
  font-family: $second-font, sans-serif;
  color: #ffffff;
  background-color: #1f4df1;
  border-radius: 50%;
}

.guide__box {
  margin-left: 20px;
}

.guide__name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 158.68%;
  font-family: $second-font, sans-serif;
}

.guide__text {
  font-size: 12px;
  line-height: 158.68%;
}

@media (min-width: 1280px) {
  .guide {
    padding: 60px 0;
    padding-top: 80px;

    @include page-wrapper;

    &--active {
      .guide__item {
        &:first-child {
          .guide__number {
            &::before {
              animation: filling 0.5s both;
            }
          }

          .guide__box {
            animation: fadeIn 0.5s both 250ms;
          }

          &::before {
            animation: fillingWidth 1s both 500ms;
          }
        }

        &:nth-child(2) {
          .guide__number {
            &::before {
              animation: filling 0.5s both 1200ms;
            }
          }

          .guide__box {
            animation: fadeIn 0.5s both 1200ms;
          }

          &::before {
            animation: fillingWidth 1s both 1700ms;
          }
        }

        &:nth-child(3) {
          .guide__number {
            &::before {
              animation: filling 0.5s both 2500ms;
            }
          }

          .guide__box {
            animation: fadeIn 0.5s both 2300ms;
          }
        }
      }
    }
  }

  .guide__title {
    font-size: 40px;
    text-align: center;
  }

  .guide__list {
    display: flex;
  }

  .guide__item {
    flex-direction: column;
    padding-bottom: 0;

    &:not(:last-child) {
      padding-right: 153px;
    }

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 15px;
      z-index: 5;
      width: 0;
      height: 2px;
      background-color: #1f4df1;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 15px;
      width: 100%;
      height: 2px;
      background-color: #f8f8f8;
    }

    &--one {
      max-width: 450px;
    }

    &--two {
      max-width: 480px;
    }

    &--three {
      max-width: 313px;
    }
  }

  .guide__box {
    margin-left: 0;
    opacity: 0.5;
  }

  .guide__number {
    position: relative;
    z-index: 10;
    width: 0;
    min-width: 50px;
    height: 50px;
    margin-bottom: 30px;
    overflow: hidden;
    font-size: 20px;

    background: #f8f8f8;

    &::before {
      @include pseudo;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #1f4df1;
      transform: translateX(-100%);
    }

    span {
      position: relative;
    }
  }

  .guide__name {
    font-size: 25px;
    font-family: $first-font, sans-serif;

    &--two {
      max-width: 200px;
    }
  }

  .guide__text {
    font-size: 20px;
  }
}
