.title {
  font-weight: 800;
  font-size: 20px;
  line-height: 142.43%;
  font-family: $third-font, sans-serif;
  color: #191c1f;
  text-transform: uppercase;

  &--black {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 40px;
    line-height: 142.43%;
  }

  &--black {
    font-size: 25px;
    line-height: 146%;
  }
}
