.footer__top {
  display: flex;
  align-items: center;
  padding: 35px 20px;
  background-color: #1d3474;
}

.footer__logo {
  display: block;
}

.footer__img {
  width: 108px;
}

.footer__list {
  @include list-reset;
  display: none;
}

.footer__button {
  margin-left: auto;
  font-size: 12px;
}

.footer__bottom {
  padding: 13px 20px;
  padding-right: 50px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #334c8f;
}

.footer__copyright {
  margin-bottom: 13px;
  line-height: 15px;
}

.footer__link-site {
  line-height: 12px;
}

@media (min-width: 1280px) {
  .footer__top {
    @include page-wrapper;
  }

  .footer__img {
    width: 148px;
  }

  .footer__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .footer__item {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  .footer__link {
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      font-weight: 500;
      color: #ffffff;
    }
  }

  .footer__button {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__bottom {
    @include page-wrapper;
    display: flex;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link-site {
    margin-left: auto;
  }
}
