.control {
  display: flex;
}

.control__button {
  width: 49px;
  height: 49px;
  background-color: #ffffff;
  border: 1px solid #1f4df1;
  cursor: pointer;
  transition: all 0.3s;

  &--forward {
    border-radius: 5px 0 0 5px;
  }

  &--back {
    margin-left: -1px;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    background-color: #1f4df1;
  }

  &:hover .control-icon {
    fill: #ffffff;
  }

  &:active {
    opacity: 0.5;
  }
}

.control-icon {
  width: 18px;
  height: 100%;
  fill: #1f4df1;
}

@media (min-width: 1280px) {
  .control__button {
    width: 56px;
    height: 56px;
  }
}
