.dangers {
  padding: 40px 20px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dangers__title {
  margin-bottom: 40px;
}

.dangers__control {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.dangers__list {
  @include list-reset;
}

.dangers__item {
  display: flex;
  flex-direction: column;
  min-height: 344px;
  padding: 30px;
  padding-top: 35px;
  border: 1px solid #E3E3E3;
  border-radius: 40px 0px 40px 40px;

  &:hover {
    border: none;
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
    padding: 31px;
    padding-top: 36px;
  }
}

.dangers__icon {
  width: 80px;
  height: 79px;
  border-radius: 30px 0px 30px 30px;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 36px;
  margin-bottom: 30px;

  &--extorsion {
    background-image: url("../../img/dangers__extorsion.svg");
  }

  &--phishing {
    background-image: url("../../img/dangers__phishing.svg");
  }

  &--data-loss {
    background-image: url("../../img/dangers__floppy-disk.svg");
  }
}

.dangers__name {
  font-family: $third-font;
  font-weight: 800;
  font-size: 18px;
  line-height: 182.43%;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.dangers__text {
  font-size: 12px;
  line-height: 182.43%;
  margin-bottom: 15px;
}

.dangers__button {
  margin-top: auto;
  width: 162px;
  height: 54px;
}

@media (min-width: 768px) {
  .dangers {
    padding: 40px 0;
    overflow: hidden;
  }

  .dangers__box {
    padding: 0 30px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .dangers__title {
    max-width: 590px;
    margin: 0;
  }

  .dangers__control {
    position: static;
    left: inherit;
    bottom: inherit;
    transform: inherit;
    margin-left: auto;
  }

  .dangers__list {
    padding-left: 30px;
    display: flex;
  }

  .dangers__item {
    min-width: 279px;
    width: 279px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

@media (min-width: 1280px) {
  .dangers {
    padding-bottom: 85px;
  }

  .dangers__box {
    @include page-wrapper;
    margin-bottom: 70px;
  }

  .dangers__list {
    padding-left: calc(50% - 640px);
  }

  .dangers__item {
    padding: 44px;
    padding-top: 50px;
    padding-bottom: 38px;
    min-width: 359px;
    min-height: 435px;

    &:not(:first-child) {
      margin-left: 40px;
    }

    &:hover {
      padding: 45px;
      padding-top: 51px;
      padding-bottom: 39px;
    }
  }

  .dangers__icon {
    width: 110px;
    height: 110px;

    &--extorsion {
      background-size: 50px;
    }

    &--phishing {
      background-size: 52px;
    }

    &--data-loss {
      background-size: 40px;
    }
  }

  .dangers__name {
    font-size: 25px;
  }

  .dangers__text {
    font-size: 16px;
  }

  .dangers__button {
    width: 164px;
    height: 57px;
  }
}
