.map {
  padding-top: 39px;
  padding-bottom: 74px;
  background: #f3f6ff;
}

.map__title {
  margin-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.map__img {
  width: unset;
  height: 500px;
  margin: 0 10px;
  margin-bottom: 40px;
}

.map__inner {
  overflow-y: hidden;
}


@media (min-width: 1280px) {
  .map {
    padding-top: 92px;
    padding-right: 10%;
    padding-bottom: 67px;
    padding-left: 10%;
  }

  .map__title {
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 114px;
    padding: 0;
  }

  .map__img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
