.map {
  padding-top: 39px;
  padding-bottom: 74px;
  background: #f3f6ff;
}

.map__title {
  margin-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.map__img {
  width: unset;
  height: 500px;
  margin: 0 10px;
  margin-bottom: 40px;
}

.map__inner {
  position: relative;
  overflow-y: hidden;
}

.map__item {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: all 0.3s;
}

.map__text {
  margin-left: -32px;
  padding: 8px 15px 8px 20px;
  font-size: 16px;
  line-height: 142.43%;
  background-color: #ffffff;
  border-radius: 100px;
  animation: show-item 3s ease-out infinite;
  span {
    font-weight: 700;
  }
}

.map__pin {
  @include pseudo;
  position: relative;
  width: 65px;
  height: 65px;
}

.map__circle {
  @include pseudo;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #223c80;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &--small {
    width: 19px;
    height: 19px;
    animation: show-circle-small 3s ease-in-out infinite;
  }

  &--middle {
    width: 39px;
    height: 39px;
    background: radial-gradient(50% 50% at 50% 50%, #3649b4 0%, rgba(54, 85, 180, 0.35) 58.85%, rgba(54, 85, 180, 0.51) 100%);
    opacity: 0.9;
    transition: all 0.3s;
    animation: show-circle-mid 2s ease-out infinite;
  }

  &--big {
    width: 65px;
    height: 65px;
    background: radial-gradient(50% 50% at 50% 50%, #3649b4 0%, rgba(54, 85, 180, 0.35) 58.85%, rgba(54, 85, 180, 0.51) 100%);
    opacity: 0.5;
    transition: all 0.3s;
    animation: show-circle 3s ease-out infinite;
  }
}


@media (min-width: 1280px) {
  .map {
    padding-top: 92px;
    padding-right: 10%;
    padding-bottom: 67px;
    padding-left: 10%;
  }

  .map__title {
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 114px;
    padding: 0;
  }

  .map__img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@keyframes show-circle-small {
  0% {
    width: 0px;
    height: 0px;
  }

  50% {
    width: 19px;
    height: 19px;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes show-circle {
  0% {
    width: 19px;
    height: 19px;
  }

  50% {
    width: 65px;
    height: 65px;
  }

  100% {
    width: 19px;
    height: 19px;
  }
}

@keyframes show-circle-mid {
  0% {
    width: 19px;
    height: 19px;
  }

  50% {
    width: 39px;
    height: 39px;
  }

  100% {
    width: 19px;
    height: 19px;
  }
}

@keyframes show-item {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-120%);
    opacity: 0;
  }
}
