.advantages {
  padding: 52px 20px 25px 20px;
}

.advantages__list {
  @include list-reset;
}

.advantages__button {
  height: 60px;
}

.advantages__options {
  @include list-reset;
  margin-bottom: 37px;
}

.advantages__title {
  margin-bottom: 39px;
}

.advantages__option {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  line-height: 167.43%;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &::before {
    @include pseudo;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 16px;
    background-image: url("../../img/advantages__circle.png");
    background-size: contain;
  }
}

.advantages__img {
  position: relative;
  width: 214px;
  height: 214px;
  margin: 0 auto;
  margin-bottom: 54px;
  border-radius: 50%;

  &::before {
    @include pseudo;
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 20;
    width: 40px;
    height: 40px;
    background-color: #304bab;
    border-radius: 50%;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 7px;
    left: -15px;
    width: 100%;
    height: 100%;
    border: 2px solid #304bab;
    border-radius: 50%;
  }

  img {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.advantages__circle {
  @include pseudo;
  position: absolute;
  bottom: 20px;
  left: 25px;
  z-index: 20;
  width: 20px;
  height: 20px;
  background-color: #304bab;
  border-radius: 50%;
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 70px;
  }
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 85px;
  }

  .advantages__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  .advantages__content {
    width: 50%;
  }

  .advantages__img {
    width: 300px;
    min-width: 300px;
    height: 300px;
    margin: 0;
  }

  .advantages__button {
    width: 333px;
    height: 69px;
    margin-top: 64px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 1280px) {
  .advantages {
    @include page-wrapper;
    overflow-x: hidden;
  }

  .advantages__img {
    width: 500px;
    min-width: 500px;
    height: 500px;
    margin: 0;

    &::after {
      top: 30px;
      left: -40px;
    }

    &::before {
      width: 110px;
      height: 110px;
    }
  }

  .advantages__circle {
    bottom: 40px;
    left: 70px;
    width: 45px;
    height: 45px;
  }

  .advantages__item {
    &:not(:last-child) {
      margin-bottom: 222px;
    }

    &:nth-child(2n) {
      .advantages__img {
        &::after {
          right: -40px;
          left: unset;
        }

        &::before {
          display: none;
        }

        .advantages__circle {
          right: -40px;
          bottom: 85px;
          left: unset;
        }
      }
    }
  }

  .advantages__content {
    width: 650px;
  }

  .advantages__options {
    font-size: 20px;
    line-height: 167.43%;
  }

  .advantages__option {
    font-size: 20px;
    line-height: 167.43%;

    &::before {
      width: 35px;
      min-width: 35px;
      height: 35px;
    }
  }
}
