.insurance {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f1f4fd;
}

.insurance__title {
  margin-bottom: 30px;
}

.insurance__text {
  max-width: 275px;
  margin-bottom: 50px;
  font-size: 12px;
  line-height: 168.93%;
}

.insurance__text-semibold {
  font-weight: 600;
}

.insurance__list {
  @include list-reset;
  margin-bottom: 40px;
}

.insurance__item {
  display: flex;
  align-items: center;
  max-width: 255px;
  font-weight: 600;
  font-size: 12px;
  line-height: 163.43%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    min-width: 31px;
    height: 31px;
    margin-right: 15px;
    background-repeat: no-repeat;
  }

  &--vulnerabilities::before {
    background-image: url("../../img/insurance__vulnerabilities.svg");
  }

  &--risks::before {
    background-image: url("../../img/insurance__risks.svg");
  }

  &--insure::before {
    background-image: url("../../img/insurance__insure.svg");
  }
}

.insurance__button {
  &:active {
    opacity: 0.5;
  }
}

.insurance__box--img {
  order: -1;
  min-width: 297px;
  height: 320px;
  margin: 0 -20px;
}

@media (min-width: 768px) {
  .insurance {
    flex-direction: row;
    padding-right: 30px;
    padding-left: 30px;
  }

  .insurance__box {
    &--text {
      max-width: 354px;
    }

    &--img {
      order: inherit;
      min-width: 340px;
      height: 360px;
      margin-left: auto;
      background-size: 350px;
    }
  }

  .insurance__button {
    width: 333px;
  }
}

@media (min-width: 1280px) {
  .insurance {
    flex-direction: row;
    padding-top: 80px;
    overflow: hidden;

    @include page-wrapper;
  }

  .insurance__box {
    &--text {
      max-width: 690px;
    }
  }

  .insurance__title {
    max-width: 490px;
    margin-bottom: 40px;
    font-size: 35px;
  }

  .insurance__text {
    max-width: 625px;
    margin-bottom: 45px;
    font-size: 14px;
  }

  .insurance__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .insurance__item {
    margin-bottom: 0;
    font-size: 16px;

    &::before {
      min-width: 32px;
      height: 32px;
      margin-right: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: 37px;
    }

    &--vulnerabilities {
      max-width: 162px;
    }

    &--risks {
      max-width: 196px;
    }

    &--insure {
      max-width: 240px;
    }
  }

  .insurance__button {
    max-width: 228px;
  }

  .insurance__box--img {
    position: relative;
    width: 485px;
    height: 480px;
    margin: 0;
    margin-left: auto;

    &::before {
      @include pseudo;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 225px;
      height: 222px;
      background-image: url("../../img/cycover_circle.png");
      background-size: contain;
      transform: translate(-50%, -48%);
    }
  }

  .insurance__img {
    animation: rotate 20s linear infinite;
  }
}
