.politic {
  position: absolute;
  display: none;
  width: 100%;
  padding: 0 15px;


  &--active {
    display: block;
    z-index: 1001;
  }
}

.politic__wrapper {
  position: relative;
  z-index: 100;
  min-height: 200px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}

.politic__title {
  margin: 20px 0;
  text-align: center;
}


.politic__content {
  max-height: 500px;
  overflow-x: auto;
  line-height: 140%;

  p {
    margin: 0.5em 0;
  }

  a {
    color: #1d3474;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .politic__wrapper {
    width: 700px;
    margin: 0 auto;
  }
}
