.calculator__main-box {
  position: absolute;
  top: 20px;
  z-index: 1100;
  display: none;
  width: 100%;
  padding: 0 15px;

  &--active {
    display: block;
  }
}

.calculator {
  position: relative;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

  &--approved {
    max-width: 290px;
    min-height: 270px;
    margin: 0 auto;
  }
}

.calculator__title {
  margin-bottom: 30px;
  text-align: center;
}

.calculator__wrap {
  padding: 30px;

  &--circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
  }

  &--approved {
    padding: 50px;
  }
}

.calculator__list {
  @include list-reset;
  margin-bottom: 30px;

  &--secture-data {
    // overflow-y: scroll;
    height: 50vh;

    .simplebar-content {
      display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
  }
}

.calculator__box {
  &--button {
    display: flex;
    align-items: center;
  }

  &--amount-data-next {
    margin-bottom: 30px;
  }

  &--radio {
    width: 74px;
  }

  &--radio:not(:first-child) {
    margin-left: 10px;
  }
}

.calculator__button {
  height: 47px;

  &--back {
    width: 47px;
  }

  &--forth {
    width: 148px;
    margin-left: auto;
  }

  &--forth-tariff {
    width: 112px;
    margin-left: auto;
  }

  &--form-calc {
    width: 100%;
    height: 59px;
  }
}

.calculator__footer {
  padding: 25px 26px;
  background-color: rgba(243, 246, 255, 0.79);
  border-radius: 20px;
}

.calculator__name-partner {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: $first-font;
  text-align: center;
}

.calculator__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--partner {
    margin-bottom: 0;
    margin-left: 17px;
  }

  &--partner:not(:last-child) {
    margin-bottom: 5px;
  }

  &--tariff {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &--situation {
    min-height: 150px;
    padding: 0;
  }

  &--secture {
    width: 100%;
  }
}

.calculator__img {
  width: 66px;
  height: 40px;
}

.calculator__container {
  display: flex;
}

.calculator__field-text {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 19px;

  &--amount {
    opacity: 0.6;
  }
}

.calculator__icon {
  margin-bottom: 90px;
}

.calculator__desc {
  font-size: 16px;
  line-height: 152.9%;
  text-align: center;
}

.calculator__tick {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #1f4df1;
  background-image: url("../../img/checkbox__tick.svg");
  background-size: 42px;
  border-radius: 50%;

  @include pseudo();
}

.calculator__button-close {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);

  // &:hover {
  //   svg {
  //     opacity: 1;
  //   }
  // }
}

.calculator__amount-label,
.calculator__secture-label {
  position: relative;
  background: #f4f6fd;
  border: 1px solid #dee5ff;
  border-radius: 5px;
  cursor: pointer;
}

.calculator__secture-label {
  padding: 15px;
}

.calculator__amount-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.calculator__amount-description,
.calculator__secture-description {
  padding: 15px 0 15px 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.calculator__secture-description {
  padding-top: 0;
}

.calculator__check {
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 3px;

  &--secture {
    top: 15px;
    left: 15px;
  }
}

.calculator__sub-description {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.calculator__amount-checkbox:checked + .calculator__check {
  // background: no-repeat center url("../img/check.png");
  background-color: #1f4df1;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 9px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
  }

  &::after {
    top: 12px;
    left: 3px;
    width: 6px;
  }

  &::before {
    right: 0;
    width: 15px;
    transform: rotate(-45deg);
  }
}

.calculator__secture-scrollbar {
  width: 6px;
  background-color:#304BAB;
  border-radius: 3px;
}
.calculator__secture-scrollbar-track {
  height: 100%;
  background-color: #E7E7E7;
  box-shadow: 0 0 0 2px white inset;
}

@media (min-width: 768px) {
  .calculator__amount-label {
    display: flex;
    align-items: center;
    height: 62px;
  }

  .calculator__amount-description {
    padding-right: 15px;
  }

  .calculator__amount-select {
    max-width: 270px;
  }

  .calculator--approved {
    max-width: 418px;
  }

  .calculator__title {
    margin-bottom: 80px;
  }

  .calculator__wrap {
    padding: 40px;

    &--circle {
      padding-top: 110px;
    }

    &--tariff {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 80px;
      padding-top: 50px;
    }

    &--personal-data {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &--approved {
      padding: 60px 70px;
    }
  }

  .calculator__footer {
    display: flex;
    align-items: center;
    padding: 25px 60px;
  }

  .calculator__list {
    &--situation {
      display: flex;
    }

    &--select {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 65px;
    }

    &--partner {
      margin-left: auto;
    }

    &--amount-data {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 774px;
      margin: 0 auto;
    }

    &--amount-data-next {
      max-width: 770px;
    }

    &--secture-data {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 30vh;

      // &::-webkit-scrollbar {
      //   width: 6px;
      //   background-color: #E7E7E7;
      // }

      // &::-webkit-scrollbar-thumb {
      //   width: 6px;
      //   border-radius: 3px;
      //   background-color: #304BAB;
      //   height: 40px;
      // }

      // &::-webkit-scrollbar-track {
      //   -webkit-box-shadow: 0 0 0 2px white inset;
      //   background-color: #E7E7E7;
      // }
    }
  }

  .calculator__name-partner {
    min-width: 120px;
    margin-bottom: 0;
    text-align: left;
  }

  .calculator__item {
    &--situation {
      width: 40%;
      min-height: 284px;
    }

    &--situation:not(:last-child) {
      margin-bottom: 0;
    }

    &--situation:not(:first-child) {
      margin-left: auto;
    }

    &--select {
      width: 30%;
      max-width: 265px;
      margin-left: auto;
    }

    &--select:not(:last-child) {
      margin-bottom: 0;
    }

    &--select:nth-child(3n+1) {
      margin-left: 0;
    }

    &--radio {
      display: flex;
      align-items: center;
    }

    &--tariff:not(:last-child) {
      margin-bottom: 0;
    }

    &--tariff:not(:first-child) {
      margin-left: 111px;
    }

    &--partner {
      margin-left: 17px;
    }

    &--partner:nth-child(4n) {
      margin-left: 17px;
    }

    &--partner:not(:last-child) {
      margin-bottom: 0;
    }

    &--partner-6 {
      display: none;
    }

    &--number {
      margin-right: 10px;
      margin-left: 10px;
    }

    &--number:nth-child(4) {
      margin-bottom: 0;
    }

    &--amount-top {
      justify-content: space-between;
    }

    &--secture {
      align-items: stretch !important;
      width: 45%;
      margin-bottom: 30px !important;
    }
  }

  .calculator__field-text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .calculator__container {
    margin-left: 25px;
  }

  .calculator__button {
    &--form-calc {
      width: 218px;
      margin: 0 auto;
    }
  }
}

.calculator__desc--approved {
  font-weight: bold;
  font-size: 18px;
}

.calculator__desc--thanks {
  margin-top: 20px;
  font-size: 13px;
}

.calculator__secture-description {
  font-size: 14px;
}

.calculator__secture-label {
  padding: 25px;
}

.calculator__check {
  &--secture {
    top: 25px;
    left: 25px;
  }
}

.calculator__sub-description {
  margin-top: 10px;
}

@media (min-width: 1120px) {
  .calculator__amount-description {
    font-size: 14px;
  }

  .calculator__title {
    font-size: 30px;
    line-height: 37px;
  }

  .calculator__wrap {
    padding: 85px 105px;

    &--tariff {
      padding: 40px 165px;
    }

    &--approved {
      padding: 60px 60px;
    }
  }

  .select__name {
    font-size: 14px;
    line-height: 17px;
  }

  .calculator__button {
    min-height: 59px;

    &--back {
      width: 59px;
    }

    &--forth {
      width: 218px;
    }
  }

  .calculator__name-partner {
    min-width: 170px;
    font-size: 20px;
    line-height: 24px;
  }

  .calculator__list {
    &--amount-data-next {
      margin-bottom: 65px;
    }
  }

  .calculator__item {
    &--partner {
      margin-left: 40px;
    }

    &--partner:nth-child(4n) {
      margin-left: 40px;
    }

    &--tariff {
      width: 339px;
    }

    &--secture {
      max-width: 460px;

      &:nth-child(1n) {
        margin-left: 30px;
      }
      &:nth-child(2n) {
        margin-left: 20px;
        // margin-right: 30px;
      }
    }
  }

  .calculator__img {
    width: 107px;
    height: 64px;
  }

  .calculator__box {
    &--radio {
      width: 105px;
    }
  }
}

@media (min-width: 1280px) {
  .calculator__main-box {
    @include page-wrapper;
  }

  .calculator__title {
    &--territorialite {
      width: 1080px;
    }
  }

  .calculator__wrap {
    &--approved {
      padding: 60px 60px;
    }
  }

  .calculator__footer {
    padding: 25px 80px;
  }

  .calculator__approver--show {
    animation: calculator__thanks 0.3s;
  }

  .calculator__approver--close {
    animation: calculator__close 0.3s;
  }

  .calculator__item--secture:nth-child(2n) {
    margin-left: 70px;
  }

  @keyframes calculator__thanks {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes calculator__close {
    0% {
      opacity: 1;
    }

    100% {
      display: none;
      transform: scale(1.3);
      opacity: 0;
    }
  }
}
