.calculator__main-box {
  position: absolute;
  top: 20px;
  z-index: 1100;
  display: none;
  width: 100%;
  padding: 0 15px;

  &--active {
    display: block;
  }
}

.calculator {
  position: relative;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

  &--approved {
    max-width: 290px;
    min-height: 270px;
    margin: 0 auto;
  }
}

.calculator__title {
  margin-bottom: 30px;
  text-align: center;
}

.calculator__wrap {
  padding: 30px;

  &--circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
  }

  &--approved {
    padding: 50px;
  }
}

.calculator__list {
  @include list-reset;
  margin-bottom: 30px;
}

.calculator__box {
  &--button {
    display: flex;
    align-items: center;
  }

  &--amount-data-next {
    margin-bottom: 30px;
  }

  &--radio {
    width: 74px;
  }

  &--radio:not(:first-child) {
    margin-left: 10px;
  }
}

.calculator__button {
  height: 47px;

  &--back {
    width: 47px;
  }

  &--forth {
    width: 148px;
    margin-left: auto;
  }

  &--forth-tariff {
    width: 112px;
    margin-left: auto;
  }

  &--form-calc {
    width: 100%;
    height: 59px;
  }
}

.calculator__footer {
  padding: 25px 26px;
  background-color: rgba(243, 246, 255, 0.79);
  border-radius: 20px;
}

.calculator__name-partner {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: $first-font;
  text-align: center;
}

.calculator__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--partner {
    margin-bottom: 0;
    margin-left: 17px;
  }

  &--partner:not(:last-child) {
    margin-bottom: 5px;
  }

  &--tariff {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &--situation {
    min-height: 150px;
    padding: 0;
  }
}

.calculator__img {
  width: 66px;
  height: 40px;
}

.calculator__container {
  display: flex;
}

.calculator__field-text {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 19px;
}

.calculator__icon {
  margin-bottom: 90px;
}

.calculator__desc {
  font-size: 16px;
  line-height: 152.9%;
  text-align: center;
}

.calculator__tick {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #304bab;
  background-image: url("../../img/checkbox__tick.svg");
  background-size: 42px;
  border-radius: 50%;

  @include pseudo();
}

.calculator__button-close {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);

  // &:hover {
  //   svg {
  //     opacity: 1;
  //   }
  // }
}

@media (min-width: 768px) {
  .calculator--approved {
    max-width: 358px;
  }

  .calculator__title {
    margin-bottom: 80px;
  }

  .calculator__wrap {
    padding: 40px;

    &--circle {
      padding-top: 110px;
    }

    &--tariff {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 80px;
      padding-top: 50px;
    }

    &--personal-data {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &--approved {
      padding: 60px 70px;
    }
  }

  .calculator__footer {
    display: flex;
    align-items: center;
    padding: 25px 60px;
  }

  .calculator__list {
    &--situation {
      display: flex;
    }

    &--select {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 65px;
    }

    &--partner {
      margin-left: auto;
    }
  }

  .calculator__name-partner {
    min-width: 120px;
    margin-bottom: 0;
    text-align: left;
  }

  .calculator__item {
    &--situation {
      width: 40%;
      min-height: 284px;
    }

    &--situation:not(:last-child) {
      margin-bottom: 0;
    }

    &--situation:not(:first-child) {
      margin-left: auto;
    }

    &--select {
      width: 30%;
      max-width: 265px;
      margin-left: auto;
    }

    &--select:not(:last-child) {
      margin-bottom: 0;
    }

    &--select:nth-child(3n+1) {
      margin-left: 0;
    }

    &--radio {
      display: flex;
      align-items: center;
    }

    &--tariff:not(:last-child) {
      margin-bottom: 0;
    }

    &--tariff:not(:first-child) {
      margin-left: 111px;
    }

    &--partner {
      margin-left: 17px;
    }

    &--partner:nth-child(4n) {
      margin-left: 17px;
    }

    &--partner:not(:last-child) {
      margin-bottom: 0;
    }

    &--partner-6 {
      display: none;
    }
  }

  .calculator__field-text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .calculator__container {
    margin-left: 25px;
  }

  .calculator__button {
    &--form-calc {
      width: 218px;
      margin: 0 auto;
    }
  }
}

.calculator__desc--approved {
  font-size: 20px;
}

@media (min-width: 1120px) {
  .calculator__title {
    font-size: 30px;
    line-height: 37px;
  }

  .calculator__wrap {
    padding: 85px 105px;

    &--tariff {
      padding: 40px 165px;
    }

    &--approved {
      padding: 60px 70px;
    }
  }

  .select__name {
    font-size: 14px;
    line-height: 17px;
  }

  .calculator__button {
    min-height: 59px;

    &--back {
      width: 59px;
    }

    &--forth {
      width: 218px;
    }
  }

  .calculator__name-partner {
    min-width: 170px;
    font-size: 20px;
    line-height: 24px;
  }

  .calculator__list {
    &--amount-data-next {
      margin-bottom: 65px;
    }
  }

  .calculator__item {
    &--partner {
      margin-left: 40px;
    }

    &--partner:nth-child(4n) {
      margin-left: 40px;
    }

    &--tariff {
      width: 339px;
    }
  }

  .calculator__img {
    width: 107px;
    height: 64px;
  }

  .calculator__box {
    &--radio {
      width: 105px;
    }
  }
}

@media (min-width: 1280px) {
  .calculator__main-box {
    @include page-wrapper;
  }

  .calculator__wrap {
    &--approved {
      padding: 60px 70px;
    }
  }

  .calculator__footer {
    padding: 25px 80px;
  }
}
