.radio-calc__input {
  display: none;

  &:checked + .radio-calc__label {
    color: #ffffff;
    background-color: #304bab;
  }
}

.radio-calc__label {
  display: block;
  box-sizing: border-box;
  padding: 0 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #304bab;
  border-radius: 5px;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .radio-calc__label {
    font-size: 14px;
    line-height: 17px;
  }
}
