.focus {
  padding: 30px 20px;
  padding-bottom: 50px;
  background-color: white;
  background-image: url("../../img/focus__background-cycover@mobile.png"),
    url("../../img/focus__background-cycover@mobile.png"),
    url("../../img/focus__background-cycover@mobile.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center 40px, center 110px, center 180px;
  background-size: 90%;
}

.focus__wrap {
  max-width: 400px;
  margin: 0 auto;
}

.focus__box--img {
  width: 208px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 25px;
}

.focus__img {
  width: 208px;
  height: 208px;
  margin: 0 auto;
  border-radius: 50%;
}

.focus__title {
  margin-bottom: 15px;
  text-align: center;
}

.focus__text {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 128.2%;
  text-align: center;
}

.focus__button {
  width: 214px;
  height: 57px;
  margin: 0 auto;
}

@media (min-width: 450px) {
  .focus {
    background-image: url("../../img/focus__background-cycover@mobile.png");
    background-position: center 110px;
    background-size: 90%;
  }
}

@media (min-width: 768px) {
  .focus {
    padding: 30px;
    padding-bottom: 50px;
    background-image: url("../../img/focus__background-cycover@mobile.png");
    background-position: center;
    background-size: 90%;
  }

  .focus__wrap {

    display: flex;
    align-items: center;
    max-width: 550px;
  }

  .focus__box {
    &--img {
      margin: 0;
    }

    &--text {
      max-width: 260px;
      margin-left: auto;
    }
  }

  .focus__title {
    text-align: left;
  }

  .focus__text {
    text-align: left;
  }

  .focus__button {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .focus {
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: url("../../img/focus__background-cycover@desktop.png");
    background-position: center;
    background-size: 90%;

    @include page-wrapper;
  }

  .focus__wrap {
    max-width: 1040px;
  }

  .focus__box {
    &--img {
      width: 420px;
    }

    &--text {
      max-width: 450px;
    }
  }

  .focus__img {
    width: 420px;
    height: 420px;
  }

  .focus__title {
    margin-bottom: 30px;
    font-size: 35px;
  }

  .focus__text {
    margin-bottom: 45px;
    font-size: 25px;
  }

  .focus__button {
    width: 248px;
    height: 69px;
  }
}

// СТИЛИ ДЛЯ НОВОГО ДИЗАЙНА, рскомитить, старые полностью убрать

// .focus {
//   padding: 30px 20px;
//   padding-bottom: 50px;
//   background-color: #ffffff;
//   background-repeat: no-repeat, no-repeat, no-repeat;
//   background-position: center 40px, center 110px, center 180px;
//   background-size: 90%;

//   img {
//     margin-bottom: 25px;
//     padding: 0 30px;
//   }
// }

// .focus__wrap {
//   max-width: 400px;
//   margin: 0 auto;
// }

// .focus__box--img {
//   width: 208px;
//   height: auto;
//   margin: 0 auto;
//   margin-bottom: 25px;
// }

// .focus__img {
//   width: 208px;
//   height: 208px;
//   margin: 0 auto;
//   border-radius: 50%;
// }

// .focus__title {
//   margin-bottom: 15px;
//   text-align: center;
// }

// .focus__text {
//   margin-bottom: 25px;
//   font-size: 12px;
//   line-height: 128.2%;
//   text-align: center;
// }

// .focus__button {
//   width: 214px;
//   height: 57px;
//   margin: 0 auto;
//   background-image: none;
// }

// @media (min-width: 768px) {
//   .focus {
//     position: relative;
//     padding: 30px;
//     padding-bottom: 50px;

//     background-position: center;
//     background-size: 90%;
//   }


//   .focus__wrap {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     max-width: unset;
//     height: 100%;
//   }

//   .focus__box {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   .focus__title {
//     text-align: left;
//   }

//   .focus__text {
//     text-align: left;
//   }

//   .focus__button {
//     margin: 0;
//   }
// }

// @media (min-width: 1280px) {
//   .focus {
//     padding-top: 50px;
//     padding-bottom: 60px;

//     background-position: center;
//     background-size: 90%;

//     @include page-wrapper;

//     img {
//       padding: 0;
//     }
//   }


//   .focus__box {
//     margin-bottom: 45px;
//   }

//   .focus__img {
//     width: 420px;
//     height: 420px;
//   }

//   .focus__title {
//     margin-bottom: 0;
//     font-size: 35px;
//   }

//   .focus__text {
//     margin-bottom: 0;
//     font-size: 25px;
//   }

//   .focus__button {
//     width: 248px;
//     height: 69px;
//     margin-left: 10px;
//   }
// }

