.form__wrap {
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.form__button {
  width: 100%;
  height: 69px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: $first-font, sans-serif;
  background-image: none;
}

.form__box {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
